* {
  margin: 0;
  padding: 0;
}

body {
  font-family: monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: white;
  background-color: #121212;
}


.freeze {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}

.a-no-deco {
  text-decoration: none;
}

.a-sign-in-btn {
  border: 1px solid #e74c3c;
  border-radius: 10px;
  font-size: 13px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px 30px;
  background: none;
  color: white;
  transition: background-color 0.3s ease-in;
}

.a-sign-in-btn:hover {
  cursor: pointer;
  background-color: #c0392b;
}

.a-cta-btn {
  background: none;
  border: 3px solid #e74c3c;
  color: white;
  margin: 20px 0px;
  padding: 10px 30px;
  text-decoration: none;
  font-size: 20px;
  border-radius: 15px;
  transition: background 0.2s ease-in-out;
}

.a-cta-btn:hover {
  cursor: pointer;
  background: #c0392b;
}